```text
streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters

faiss-cpu

sentence-transformers
transformers
torch

python-dotenv

youtube-transcript-api
yt-dlp

pytube

huggingface-hub

requests

numpy
pandas

GitPython
watchdog